<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ apptitle }}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ static_url('css/yurbi.css')}}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <style type="text/css">

        #chat-input {
          position: fixed;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 1030;
          margin-bottom: 0;
        }
        #chat-input .form-actions {
          margin-top: 0;
          margin-bottom: 0;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li {% if shop_id == 1 %}class="active"{% end %}><a href="/shop_id/1">Shop 1</a></li>
              <li {% if shop_id == 2 %}class="active"{% end %}><a href="/shop_id/2">Shop 2</a></li>
              <li {% if shop_id == 3 %}class="active"{% end %}><a href="/shop_id/3">Shop 3</a></li>
              <li {% if shop_id == 4 %}class="active"{% end %}><a href="/shop_id/4">Shop 4</a></li>
              {% if not user %}<li class="active"><a href="/login">Sign In</a></li> {% end %}
              <!-- <li class="divider"></li> -->
              {% if user %}<li><a href="/logout">Sign Out</a></li> {% end %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container">

      <div class="">
        {% if shop_id %}
          <h1>Shop {{shop_id}}</h1>
        {% else %}
          <h1>{{ apptitle }}</h1>

        <img style="max-width:100px; margin-top: -7px;"  src="{{ static_url('yurbi_logo.jpg')}}">
        {% end %}
        {% raw content %}
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    {% if 'chat' in globals() and chat %}
        <!-- Application script -->
        <script src="{{ static_url('app.js') }}" type="text/javascript"></script>
    {% end %}
  </body>
</html>
